.git
.gitignore
.dockerignore
.docker-env

# data
all_issues.csv
api_issues.xlsx

# tools
get-issues.bat
lint-and-fix.bat

# has old python 3.6 packages - found with anchore scan
/.pytest_cache
/include
/lib
